{% extends 'base.html.twig' %}

{% block title %}Blog index!{% endblock %}

{% block body %}
    {% for id, post in posts %}
        <p><a href="{{ path('blog_show', {'id': id}) }}">ID {{ id }}</a><</p>
        <h3>ID {{ post.title }}</h3>
        <p>ID {{ post.text }}</p>
    {% endfor %}
{% endblock %}
