{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <p>ID {{ id }}<</p>
    <h3>ID {{ post.title|upper }}</h3>
    <p>ID {{ post.text }}</p>
    <p>ID {{ post.date|date('H:i:s') }}</p>
    {{ 560|price }}
    Here is the current locale {{ locale }}

    <p>{{ message }}</p>

    <p>Env: {{ app.environment }}</p>
    <p>User: {{ app.user }}</p>
    <p>Request: {{ app.request }}</p>
    <p>Session started: {{ app.session.isStarted }}</p>
    <p>Debug: {{ app.debug }}</p>
{% endblock %}
